@import './styles/colors.scss';

$base-font: 'belbo-book', -apple-system, BlinkMacSystemFont, sans-serif;

$layout-breakpoint-small: 500px;

$layout-breakpoint-medium: 990px;

body {
  margin: 0;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
